<h1>Create Checkin</h1>
<a href ng-click="logout();">logout </a>
<div ng-repeat="checkin in checkins" >
  <form ng-submit="checkin()">
    <fieldset>
      <h3>{{checkin.project_name}}</h3>
      <select ng-init="selectedTask = getTaskById(checkin.task_id)" ng-model="selectedTask" ng-options="task as task.name for task in tasks"></select>
      <input type="text" name="hours" ng-init="hours = checkin.hours_cache" ng-model="hours" placeholder="hours">
      <input type="submit" name="submit" id="checkin_submit" value="Check-in" />
    </fieldset>
  </form>
</div>

